<html>

<head>

    {{>headerlink}}
</head>

<body>

{{>navbar}}    
    <!--main header-->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="im1.jpg" width="430px" height="450px">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>I am A <span class="text_clr">Mern Stack Developer</span> And Engineering Student</h1>
                        <a href=""><button>About me</button></a>

                    </div>
                    <!--right side div-->


                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
    {{>footer}}
</body>

</html>